{% extends 'dashboard.html' %}
{% load tailwind_filters %}
{% load static %}

{% block appcontent %}
  <div class="p-4">
    <div class="flex flex-wrap justify-between items-center">
      <h1 class="font-bold text-2xl mb-4">Centros de reciclaje</h1>
      {% if request.user.is_superuser %}
      <a class="bg-green-700 flex justify-center items-center p-2 rounded-md text-white" href="{% url 'recycleapp:add-center' %}">Agregar Centro</a>
      {% endif %}
    </div>
    <div class="grid lg:grid-cols-2 grid-cols-1">
      {% for center_data in recycling_results %}
      <div class="lg:col-span-2 col-span-2 w-2/4 shadow-lg p-4">
          <div class="flex justify-between">
            <h3 class="font-bold text-xl">{{ center_data.center.name }}</h3>
            <a target="_blank" href="{{center_data.center.url_maps}}" class="flex gap-2">
              <p class="font-bold">Ver en Maps</p>
              <img class="w-6 h-6" src="{% static 'maps.png' %}" alt="" />
            </a>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-bold">
              Ubicación: <span class="font-normal">{{ center_data.center.address }}</span>
            </p>
          </div>
          <h5 class="text-xs font-bold">Ofrece por kg de Material:</h5>
          <ul class="inline-flex gap-4">
            <li class="text-xs font-bold">
              Vidrio: <span class="text-green-700">${{ center_data.center.glass_price_per_kg }}</span>
            </li>
            <li class="text-xs font-bold">
              Cartón: <span class="text-green-700">${{ center_data.center.cardboard_price_per_kg }}</span>
            </li>
            <li class="text-xs font-bold">
              Plástico: <span class="text-green-700">${{ center_data.center.plastic_price_per_kg }}</span>
            </li>
          </ul>
          <h5>Tienes:</h5>
          <p class="text-xs">Presiona para reclamar</p>
          <div class="">
            <form class="grid lg:grid-cols-3 gap-4" method="POST" action="{% url 'recycleapp:claim_material' center_data.center.id %}">
              {% csrf_token %}

              {% with valid_materials=center_data.materials|dictsort:'density' %}
                {% if valid_materials or center_data.claimed %}
                  {% for data in valid_materials %}
                    {% if data.density > 0 or center_data.claimed %}
                      <ul class="mt-2">
                        {% if data.material == 'Plástico' %}
                          <div class="flex flex-col justify-center items-center p-2 border-2 border-black rounded-md">
                            <img class="w-8 h-8" src="{% static 'plastico.png' %}" alt="" />
                            <p>Plástico: {{ data.density }} Kg</p>
                            <p class="font-bold text-green-700">Ganancias: ${{ data.price }}</p>
                            <input type="hidden" name="materials" value="{{ data.id }}" />
                          </div>
                        {% elif data.material == 'Cartón' %}
                          <div class="flex flex-col justify-center items-center p-2 border-2 border-black rounded-md">
                            <img class="w-8 h-8" src="{% static 'carton.png' %}" alt="" />
                            <p>Cartón: {{ data.density }} Kg</p>
                            <p class="font-bold text-green-700">Ganancias: ${{ data.price }}</p>
                            <input type="hidden" name="materials" value="{{ data.id }}" />
                          </div>
                        {% elif data.material == 'Vidrio' %}
                          <div class="flex flex-col justify-center items-center p-2 border-2 border-black rounded-md">
                            <img class="w-8 h-8" src="{% static 'vidrio.png' %}" alt="" />
                            <p>Vidrio: {{ data.density }} Kg</p>
                            <p class="font-bold text-green-700">Ganancias: ${{ data.price }}</p>
                            <input type="hidden" name="materials" value="{{ data.id }}" />
                          </div>
                        {% endif %}
                      </ul>
                    {% endif %}
                  {% endfor %}

                  <button type="submit" class="bg-green-700 text-white px-4 flex justify-center items-center py-2 mt-4 gap-8 rounded-md">
                    <p class="text-white">Reclamar</p>
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-receipt-dollar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2" /><path d="M14.8 8a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1" /><path d="M12 6v10" /></svg>
                  </button>
                {% else %}
                  <p>No tienes recolecciones</p>
                {% endif %}
              {% endwith %}
            </form>
          </div>
        </div>
          {% endfor %}
    </div>
  </div>
{% endblock %}
